body {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background: #E9F0F4;
  overflow-x: hidden;
  position: relative;
  font-size: 14px;
  left: 0;
}

h1, h2, h3, h4 {
  font-family: 'Crete Round',serif;
  font-weight: 400;
}

a {
  &:focus {
    outline: none;
  }

  color: #F69087;

  &:hover, &:focus, &:active {
    color: #F69087;
  }
}

#main {
  margin-bottom: 50px;
  padding-top: 50px;
}

.box {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 2px solid #DDDDDD;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

.between_posts {
  text-align: center;
  margin-bottom: 30px;

  &.box {
    padding: 10px;
  }
}

#content {
  margin-bottom: 30px;
}

/* page */

article.type-page {
  padding: 50px;
}

.entry-content {
  &:after, &:before {
    content: "";
    display: table;
    line-height: 0;
  }
}

article.type-page {
  &:before, &:after {
    content: "";
    display: table;
    line-height: 0;
  }
}

.entry-content:after {
  clear: both;
}

article.type-page {
  &:after {
    clear: both;
  }

  .title {
    margin: 0 0 20px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
  }
}

.site-footer {
  background: #2E3641;
  position: relative;
  color: #fff;

  .box {
    color: #333;
  }

  .container {
    padding: 40px 0;
  }

  #footer-bottom {
    background: #272F3A;
    color: #B8B8B8;
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
  }

  #footer-body {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

ul#footer-body > li {
  display: table-cell;
  float: none;
  vertical-align: top;
  width: 1%;
  padding-right: 20px;

  &:last-child {
    padding-right: 0;
  }
}

.site-footer #footer-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-body > div[class*="span"] ul li a, ul#footer-body > li ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 2px 4px;
  border: none;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

#footer-body {
  .widget-head {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  .box .widget-head {
    background: #272F3A;
    border: none;
    padding: 0 15px;
  }

  .widget_nav_menu, .widget_archive, .widget_tag_cloud, .widget_recent_entries, .widget_meta, .widget_categories, .widget_pages, .widget_rss {
    background: transparent;
    border: none;
    padding: 0;
  }
}

.site-footer .badge {
  display: none;
}

.entry-image {
  overflow: hidden;
  background: #F4F4F4;
  border-radius: 4px 4px 0 0;

  img {
    width: 100%;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }

  a:hover img {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }
}

.entry-meta time {
  color: #666;
  font-size: 20px;
}

.pagination {
  text-align: center;

  > {
    * {
      font-size: 18px;
      margin-right: 10px;
      padding: 5px 13px;
      display: inline-block;
    }

    a {
      background: none repeat scroll 0 0 #FFFFFF;
      border-bottom: 2px solid #DDDDDD;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      text-decoration: none;
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;

      &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.single-pagination {
  > span {
    width: 50%;

    a:hover {
      background-color: #FAFAFA;
      outline: none;
      text-decoration: none;
      box-shadow: (-2px) 2px 0 0 rgba(0, 0, 0, 0.05) inset;

      span {
        color: #6D6D6D;
      }
    }
  }

  a {
    color: #999999;
    font-style: italic;
    font-weight: 200;

    span {
      color: #717171;
      font-style: normal;
      font-weight: bold;
    }
  }
}

.nav-previous {
  float: left;

  .tab_attachment {
    float: left;
  }

  a[rel="prev"] {
    display: block;
    padding: 20px;
    position: relative;
    text-align: left;
  }
}

.nav-next {
  float: right;

  .tab_attachment {
    float: right;
  }

  a[rel="next"] {
    display: block;
    padding: 20px;
    position: relative;
    text-align: right;
  }
}

footer.entry-meta {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 0 0 4px 4px;
  padding: 15px 30px 15px;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0 0;
  position: relative;
  background: #fcfcfc;

  .up_arrow {
    &:after {
      border-color: transparent transparent #FCFCFC;
      border-style: solid;
      border-width: 15px;
      content: "";
      height: 0;
      left: 40px;
      position: absolute;
      top: -30px;
      width: 0;
    }

    &:before {
      border-color: transparent transparent #FCFCFC;
      border-style: solid;
      border-width: 15px;
      content: "";
      height: 0;
      left: 40px;
      position: absolute;
      top: -30px;
      width: 0;
      top: -31px;
      border-color: transparent transparent #DDDDDD;
    }
  }

  .avatar {
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    position: absolute;
    left: 0;
    top: 0;
  }

  h4 {
    margin: 0;
    line-height: 55px;

    a {
      color: #878787;
      font-weight: normal;
      text-shadow: 0 1px 0 #FFFFFF;
      text-decoration: none;
    }
  }

  .author-meta {
    padding-left: 70px;
    position: relative;
  }
}

#side-bar {
  > div {
    padding: 15px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    border-bottom: 2px solid #DDDDDD;

    > form {
      margin: 0;
    }
  }

  div {
    &.bl_tweets, &.bl_likebox, &.bl_instagram, &.bl_tabs, &.bl_socialbox, &.widget_calendar, &.widget_pages, &.widget_archive, &.widget_calendar, &.widget_nav_menu, &.widget_tag_cloud, &.widget_recent_entries, &.widget_meta, &.widget_categories, &.bl_flickr, &.widget_rss, &.bl_author, &.widget_search {
      padding: 0;
    }

    &.bl_tweets .widget-head, &.bl_likebox .widget-head {
      margin: 0;
    }
  }
}

.bl_instagram .widget-head {
  margin: 0;
}

#side-bar {
  div {
    &.bl_tabs .widget-head, &.bl_socialbox .widget-head, &.widget_calendar .widget-head, &.widget_pages .widget-head, &.widget_archive .widget-head, &.widget_calendar .widget-head, &.widget_nav_menu .widget-head, &.widget_tag_cloud .widget-head, &.widget_recent_entries .widget-head, &.widget_meta .widget-head, &.widget_categories .widget-head, &.bl_flickr .widget-head, &.bl_author .widget-head, &.widget_rss .widget-head, &.widget_search .widget-head {
      margin: 0;
    }
  }

  > div.box > select {
    margin: 15px;
    width: 270px;
  }
}

.site-footer #footer-body .nav-tabs > li.active + li a, .nav-tabs > li.active + li a {
  background: #9EB2C0;
  display: block;
}

.site-footer #footer-body .nav-tabs > li > a, .nav-tabs > li > a {
  background: #C1CFD9;
  border: medium none !important;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 0;
  margin: 0;
  padding: 8px 0;
  display: block;
}

.site-footer #footer-body #bl_side_tabs .active a, #bl_side_tabs .active a {
  color: #9EB2C0;
  background: #fff !important;
  display: block;
}

#side-bar h3, #footer-body h3 {
  font-size: 20px;
}

#side-bar h3 * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

.top-color {
  width: 100%;
  position: relative;
  z-index: 999;

  div {
    float: left;
    height: 5px;
    width: 25%;
  }
}

.above_header {
  padding: 5px 0;
  text-align: center;
  background: #2E3641;
}

.format-quote {
  a {
    color: #797979;
  }

  .entry-content h1 {
    font-size: 26px;
    margin: 0 0 15px;
  }
}

.entry-container {
  background: none repeat scroll 0 0 #FFFFFF;
  position: relative;
}

.entry-content {
  padding: 50px;
}

#reply-title:before {
  content: '\f112';
}

.entry-title {
  margin: 0;
  line-height: 1.2;

  a {
    color: #333;
  }
}

.entry-container a:hover {
  text-decoration: none;
}

.entry-content > p a:hover {
  text-decoration: underline;
}

#content .entry-content a.more-link:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.entry-content p {
  font-size: 18px;
  color: #525252;

  &.wp-caption-text, &.gallery-caption {
    color: #999999;
    font-size: 12px;
    text-align: center;
  }
}

/* =WordPress Core
-------------------------------------------------------------- */

article {
  &.type-page .the-content p {
    &.wp-caption-text, &.gallery-caption {
      color: #999999;
      font-size: 12px;
      text-align: center;
    }
  }

  &.type-post {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 30px;

    /*overflow: hidden;*/
    border-bottom: 2px solid #ddd;
  }
}

.entry-header {
  background: #2E3641;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  height: 70px;
  position: relative;
}

.post-format-badge {
  border: 8px solid #FFFFFF;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  bottom: -40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 80px;
  left: 50%;
  margin: 0 -40px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 500;
}

.entry-container > .post-format-badge {
  top: -40px;
}

.post-format-badge {
  background: #B0CB7A;

  i {
    color: #FFFFFF;
    font-size: 28px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    width: 45px;
  }
}

.post-format-quote {
  background: #85A9B3;
}

.post-format-image {
  background: #B0CB7A;
}

.post-format-gallery {
  background: #00ACED;
}

.post-format-standard {
  background: #F69087;
}

.post-format-video {
  background: #85CCB1;
}

.post-format-audio {
  background: #EF7336;
}

.post-format-link {
  background: #9664B5;
}

.sticky .post-format-badge {
  background-color: #2999C4;
}

.post-meta {
  margin: 20px 0;
  color: #555;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-right: 15px;

      i:before {
        margin: 0 !important;
        display: inline !important;
      }
    }
  }
}

.post-format-badge i:before, .bl_socialbox a i:before, .share-story li a i:before, a.btn i:before, .bl_socialbox a i:before, .tab_icon i:before {
  margin: 0 !important;
  display: inline !important;
}

.post-meta {
  ul li a {
    color: #555;
  }

  &:before {
    content: "";
    display: table;
    line-height: 0;
  }

  &:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
}

/* entry */

.share-story {
  float: left;
  list-style: none outside none;
  margin: 23px 0 0;
  padding: 0;

  li {
    float: left;
    margin-right: 5px;

    a {
      font-size: 16px;
      background: #F0F0F0;
      -moz-border-radius: 500px;
      -webkit-border-radius: 500px;
      border-radius: 500px;
      color: #777;
      display: block;
      padding: 6px;
      width: 33px;
      text-align: center;

      &:hover {
        color: #333;
        background: #eee;
        text-decoration: none;
      }
    }
  }
}

.share-story-container {
  position: relative;

  small {
    left: 5px;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

.share-story.small {
  margin: 0;
  width: 100%;
  text-align: center;

  li {
    float: none;
    display: inline-block;

    a {
      padding: 4px 6px;
      font-size: 11px;
    }
  }
}

.bypostauthor > article.comment .commenter a {
  color: #1ABC9C;
}

/*  

  Widgets

*/

.scale {
  img {
    -webkit-transition: all .10s ease-in-out;
    -moz-transition: all .10s ease-in-out;
    -o-transition: all .10s ease-in-out;
    transition: all .10s ease-in-out;
  }

  &:hover img {
    transform: scale(1.03);
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
  }
}

.bl-social-icon {
  background: none repeat scroll 0 0 #F0F0F0;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  color: #777777;
  display: inline-block;
  font-size: 11px;
  padding: 4px 6px;
}

/* general css for all widgets */

.widget-head {
  background: #2E3641;
  padding: 0 15px;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #fff;
  margin: -15px -15px 15px;

  a {
    color: #fff;
  }
}

.bl_tabs, .bl_author, .bl_instagram, .bl_likebox, .bl_tweets, .widget_categories, .widget_recent_comments, .widget_search {
  padding: 0 !important;
}

.bl_tabs .widget-head, .bl_author .widget-head, .bl_instagram .widget-head, .bl_likebox .widget-head, .bl_tweets .widget-head, .widget_recent_comments .widget-head, .widget_categories .widget-head {
  margin: 0 !important;
}

#footer-body .bl_html .widget-body {
  padding: 15px;
}

/*  Author Widget  */

.bl_author > {
  img {
    width: 100%;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
  }

  h3 + img {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

#footer-body .bl_author .widget-body {
  background: #ffffff;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  padding: 0 15px 15px;
}

.bl_author {
  .widget-body {
    position: relative;
    text-align: center;
  }

  > img + .widget-body .bl_author_img + .bl_author_bio {
    padding-top: 60px;
  }

  .bl_author_bio {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #333;

    > h3 {
      margin-top: 0;
    }
  }
}

#footer-body .bl_author .bl_author_bio {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.bl_author .bl_author_bio p {
  margin: 0;
}

.bl_author_img {
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  background: #fff;
  border: 5px solid #fff;
  overflow: hidden;

  img {
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    height: 100px;
    width: 100px;
  }
}

.bl_author > img + .widget-body .bl_author_img {
  left: 50%;
  margin: 0 -50px;
  position: absolute;
  top: -45px;
}

/* social box */

#side-bar .bl_socialbox .widget-body {
  padding: 10px 14px;
}

.cleanwidget.bl_socialbox {
  padding: 0;
  background: transparent;

  .widget-head {
    padding: 0;
    background: transparent;
  }
}

.bl_socialbox {
  ul {
    list-style: none;
    margin: 0;
  }

  li {
    float: left;
    margin: 4px;
  }
}

.site-footer #footer-body .bl_socialbox a, .bl_socialbox a {
  color: #666;
  padding: 6px;
  font-size: 18px;
  background: #F7F7F7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  display: block;
  width: 35px;
  text-align: center;
}

.site-footer #footer-body .bl_socialbox a:hover {
  color: #fff !important;
  transform: scale(1.08);
  -ms-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  text-decoration: none;
}

.bl_socialbox a {
  &:hover {
    color: #fff !important;
    transform: scale(1.08);
    -ms-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    text-decoration: none;
  }

  &.bl_icon_facebook {
    color: #4861A3 !important;

    &:hover {
      color: #fff !important;
      background: #4861A3 !important;
      border-color: #4861A3 !important;
    }
  }

  &.bl_icon_twitter {
    color: #1BB2E9 !important;

    &:hover {
      color: #fff !important;
      background: #1BB2E9 !important;
      border-color: #1BB2E9 !important;
    }
  }

  &.bl_icon_googleplus {
    color: #CE4231 !important;

    &:hover {
      color: #fff !important;
      background: #CE4231 !important;
      border-color: #CE4231 !important;
    }
  }

  &.bl_icon_linkedin {
    color: #007BB6 !important;

    &:hover {
      color: #fff !important;
      background: #007BB6 !important;
      border-color: #007BB6 !important;
    }
  }

  &.bl_icon_youtube {
    color: #BC1E2C !important;

    &:hover {
      color: #fff !important;
      background: #BC1E2C !important;
      border-color: #BC1E2C !important;
    }
  }

  &.bl_icon_rss {
    color: #F99C00 !important;

    &:hover {
      color: #fff !important;
      background: #F99C00 !important;
      border-color: #F99C00 !important;
    }
  }

  &.bl_icon_flickr {
    color: #FE0083 !important;

    &:hover {
      color: #fff !important;
      background: #FE0083 !important;
      border-color: #FE0083 !important;
    }
  }

  &.bl_icon_vimeo {
    color: #1BB6EC !important;

    &:hover {
      color: #fff !important;
      background: #1BB6EC !important;
      border-color: #1BB6EC !important;
    }
  }

  &.bl_icon_pinterest {
    color: #CD2026 !important;

    &:hover {
      color: #fff !important;
      background: #CD2026 !important;
      border-color: #CD2026 !important;
    }
  }

  &.bl_icon_dribbble {
    color: #E14A85 !important;

    &:hover {
      color: #fff !important;
      background: #E14A85 !important;
      border-color: #E14A85 !important;
    }
  }

  &.bl_icon_tumblr {
    color: #49637C !important;

    &:hover {
      color: #fff !important;
      background: #49637C !important;
      border-color: #49637C !important;
    }
  }

  &.bl_icon_instagram {
    color: #AC8568 !important;

    &:hover {
      color: #fff !important;
      background: #AC8568 !important;
      border-color: #AC8568 !important;
    }
  }

  &.bl_icon_soundcloud {
    color: #FF4C00 !important;

    &:hover {
      color: #fff !important;
      background: #FF4C00 !important;
      border-color: #FF4C00 !important;
    }
  }
}

/*  Tabs widget  */

#bl_side_tabs {
  margin: 0;
}

#bl_side_posts > ul, #bl_side_comments > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bl_side_posts > ul li, #bl_side_comments > ul li {
  padding: 8px 15px 8px 85px;
  position: relative;
  min-height: 55px;
  right: -110%;
  border-left: 3px solid transparent;
}

#bl_side_posts > ul li:hover, #bl_side_comments > ul li:hover {
  background: none repeat scroll 0 0 #F8F8F8;
  border-left: 3px solid #F69087;
  cursor: pointer;
}

#bl_side_posts > ul li:hover .tab_icon, #bl_side_comments > ul li:hover .tab_attachment, #bl_side_posts > ul li:hover .tab_attachment {
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.bl_tabs ul li {
  a {
    font-weight: bold;
    text-decoration: none;
  }

  .tab_attachment {
    position: absolute;
    left: 15px;
    top: 8px;
    background: transparent !important;
    display: block;
  }

  .tab_text {
    display: table;
    height: 55px;
  }
}

.site-footer #footer-body .bl_tabs ul li .tab_text a, .bl_tabs ul li .tab_text a {
  color: #717171;
  display: table-cell;
  text-decoration: none !important;
  vertical-align: middle;
  background: transparent;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

#side-bar .bl_tabs ul li .tab_text a {
  background: transparent;
}

.bl_tabs {
  ul li .tab_text a span {
    color: #F69087;
  }

  .tab-content {
    min-height: 100px;
    padding: 15px 0;
    background: #fff;
  }
}

.tab_icon {
  display: block;
  height: 55px;
  width: 55px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;

  i {
    color: #FFFFFF;
    display: block;
    font-size: 26px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
  }
}

.bl_tabs .tab-content img {
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  width: 55px;
  height: 55px;
  display: block;
  position: relative;
  max-width: none\9;
}

.tab_quote {
  background-color: #85A9B3;
}

.tab_audio {
  background-color: #EF7336;
}

.tab_link {
  background-color: #9664B5;
}

.tab_gallery, .tab_image {
  background-color: #B0CB7A;
}

.tab_standard {
  background-color: #F69087;
}

.tab_video {
  background-color: #85CCB1;
}

#bl_side_tags {
  padding: 0 15px;

  .bl_tab_tag {
    font-weight: bold;
    padding: 4px 6px;
    margin: 0 5px 5px 0;
    background: #F8F8F8;
    text-decoration: none;
    color: #666;
    display: block;
    float: left;
    text-align: center;

    &:hover {
      background: #F69087;
      color: #fff;
      -webkit-transition: all .15s ease-in-out;
      -moz-transition: all .15s ease-in-out;
      -o-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}

/*  Facebook like box  */

.bl_likebox .widget-head {
  background-image: url("assets/img/noise_transparent.png");
  background-color: #4861A3;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(52, 76, 137, 0.5);
  margin: 0;
}

#bl_likebox > iframe {
  min-width: 180px;
}

#footer-body #bl_likebox {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.bl_likebox .widget-body {
  padding: 0;
}

#bl_likebox {
  background: none repeat scroll 0 0 #FFFFFF;
}

/* Twitter widget */

.bl_tweets .widget-head {
  background-image: url("assets/img/noise_transparent.png");
  background-color: #3BAAE1;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(52, 133, 170, 0.5);
  margin: 0;
}

#footer-body .bl_tweets {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.bl_tweets {
  .widget-body {
    padding: 0;
    background: #E2E2E2;
  }

  #tweets {
    overflow: hidden;

    iframe {
      margin-top: -3px;
    }
  }
}

#footer-body #tweets iframe {
  min-width: 100% !important;
}

/*  Newsletter Widget  */

.bl_newsletter {
  p {
    color: #B0B0B0;
    margin: 0 0 15px;
  }

  .input-append {
    margin-bottom: 0;
  }
}

#footer-body .bl_newsletter {
  .widget-head {
    padding: 0;
    background: transparent;
    border: none;
    margin: 0;
  }

  padding: 0;
  background: transparent;
  border: none;
}

#side-bar .bl_newsletter p {
  color: #717171;
  text-shadow: none;
  margin: 0 0 15px;
}

.bl_newsletter .bl_newsletter_email {
  height: 40px;
  width: auto;
}

.site-footer.light_theme .bl_newsletter_email {
  background: #EEEEEE;
}

#side-bar .bl_newsletter .bl_newsletter_email {
  border: 1px solid #CCCCCC;
}

.bl_newsletter button {
  height: 40px;
  box-shadow: none;
}

/*
  Default Wordpress Widgets
*/

/*  search  */

#side-bar div.widget_search input[type="text"], #footer-body div.widget_search input[type="text"] {
  width: 70%;
  height: 34px;
  margin: 0;
  background: none repeat scroll 0 0 #EFEFEF;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  max-width: 190px;
}

#side-bar div.widget_search form {
  margin: 0;
  padding: 15px;
}

#footer-body {
  #searchform input[type="submit"] {
    display: inline-block;
  }

  .widget_search {
    background: transparent;
    border: none;

    .widget-head {
      background: transparent;
      margin: 0;
      padding: 0;
    }
  }
}

/* rss */

.widget_rss ul {
  margin: 0;
  list-style: none;

  li {
    padding: 10px 15px;
    border-top: 1px solid #eee;
  }
}

#footer-body .widget_rss ul li {
  border-top: none;
}

.widget_rss ul li {
  &:first-child {
    border-top: none;
  }

  a {
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }

  .rss-date {
    color: #999;
    font-size: 12px;
    display: block;
  }
}

#footer-body .rssSummary {
  color: #fff;
  color: #fff;
}

.light_theme #footer-body {
  .rssSummary {
    color: #717171;
  }

  .widget_rss ul li a {
    color: #333 !important;
  }
}

/* Recent Comments */

.widget_recent_comments .recentcomments {
  list-style: none;
}

/* Calendar */

.widget_calendar table {
  width: 100%;
}

#footer-body .widget_calendar {
  padding: 0;

  table {
    width: 100%;
    background: #ffffff;
    color: #717171;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}

.widget_calendar table > caption {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

#footer-body .widget_calendar .widget-head {
  margin: 0;
}

.widget_calendar {
  table > caption {
    background: none repeat scroll 0 0 #272F3A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 15px;
    text-align: left;
  }

  .widget-head + #calendar_wrap table > caption {
    background: none repeat scroll 0 0 #9EB2C0;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
    line-height: inherit;
    padding: 5px 0;
    text-align: center;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}

#footer-body .widget_calendar .widget-head + #calendar_wrap table > caption {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.widget_calendar tr {
  th {
    background: none repeat scroll 0 0 #C1CFD9;
    color: #FFFFFF;
    padding: 3px 0;
  }

  td {
    text-align: center;
    font-size: 16px;

    a {
      font-weight: bold;
    }
  }
}

/* Categories, Pages, Archives, Recent Comments and Reecent Posts bundled */

.widget_recent_entries > ul, #side-bar .widget_nav_menu > div > ul, .widget_categories > ul, .widget_recent_comments > ul, .widget_pages > ul, .widget_meta > ul, .widget_archive > ul {
  list-style: none;
  margin: 0;
}

#side-bar {
  .widget_recent_entries li, .widget_nav_menu ul li, .widget_categories li, .widget_recent_comments li, .widget_pages li, .widget_meta li, .widget_archive li {
    display: block;
    padding: 8px 15px 8px 18px;
    border-bottom: 1px solid #eee;
  }
}

.widget_recent_entries li a, #side-bar .widget_nav_menu ul li a, .widget_categories li a, .widget_recent_comments li a, .widget_pages li a, .widget_meta li a, .widget_archive li a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  color: #717171;
  font-size: 16px;
}

.widget_recent_entries li span.badge, #side-bar .widget_nav_menu ul li span.badge, .widget_categories li span.badge, .widget_recent_comments li span.badge, .widget_pages li span.badge, .widget_meta li span.badge, .widget_archive li span.badge {
  background: none repeat scroll 0 0 #C1CFD9;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px #FFFFFF;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px #FFFFFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 1px #FFFFFF;
  color: #FFFFFF;
  font-size: 12px;
  height: 20px;
  line-height: 18px;
  margin: -9px 0;
  min-width: 20px;
  padding: 1px 6px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
}

#side-bar {
  ul li {
    position: relative;
  }

  .widget_nav_menu > div > ul ul {
    margin: 0;
    list-style: none;
    background: #f4f4f4;

    a {
      border-left: 3px solid #f4f4f4;
    }
  }

  .widget_recent_entries li:hover, .widget_nav_menu ul li:hover, .widget_categories li:hover, .widget_recent_comments li:hover, .widget_meta li:hover, .widget_pages li:hover, .widget_archive li:hover {
    border-left: 3px solid #F69087;
    background: #F8F8F8;
    padding: 8px 15px;
  }
}

/*  Recent Posts  */

#recent-posts {
  list-style: none;
  margin: 0;

  li {
    padding: 15px 0;
    min-height: 85px;
    border-bottom: 1px solid #f4f4f4;
  }
}

.recent-icon {
  float: left;
  margin-right: 15px;
}

.recent-content {
  h4, p {
    margin: 0;
  }
}

/*  Pagelinks  */

.page-links {
  margin-top: 20px;

  > {
    a, span {
      padding: 8px 20px 10px;
      margin-right: 2px;
    }

    a {
      color: #fff !important;
    }

    span {
      background: #F6968E;
      color: #fff !important;
    }
  }
}

/*  disquss css fix  */

#disqus_thread {
  background: #fff;
  border-radius: 4px;
  margin-top: 30px;
  padding: 25px;
  border-top: 3px solid #F69087;
}

.must-log-in {
  padding: 25px;
}

/* Social Counter Widget */

#side-bar .bl_social_counter .widget-body {
  padding: 0;
}

.bl_social_counter {
  ul li {
    display: block;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
    padding-left: 70px;

    &:last-child {
      border-bottom: none;
    }

    a {
      color: #333333;
      display: block;
      width: 100%;
      -webkit-transition: background-color 0.05s ease-in-out;
      -moz-transition: background-color 0.05s ease-in-out;
      -o-transition: background-color 0.05s ease-in-out;
      -ms-transition: background-color 0.05s ease-in-out;
      transition: background-color 0.05s ease-in-out;
    }

    .bl_wrapper {
      display: table-cell;
      vertical-align: middle;
      height: 68px;
    }

    &:hover {
      background-color: #FFFFFF;
    }

    i {
      font-size: 22px;
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      left: 15px;
      top: 50%;
      margin-top: -20px;
      text-align: center;
      border-radius: 40px;
      color: #FFFFFF;
    }

    &.facebook i {
      background-color: #627BAE;
    }

    &.twitter i {
      background-color: #00ACEE;
    }

    &.google-plus i, &.instagram i {
      background-color: #DD4B39;
    }

    h4 {
      font-size: 16px;
      margin: 0;
      position: relative;
      display: block;
      font-weight: normal;
    }

    small {
      display: block;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      padding: 0;
      position: relative;
    }
  }

  padding: 0 !important;

  h3 {
    margin: 0;
  }
}

@import "fontello"