$background-gray: #DDDDDD;
$background-gray-hard: #2E3641;
$background-red: #F69087;
$background-green:#B0CB7A;
$background-green:#B0CB7A;
$background-green-light:#85CCB1;
$background-blue: #85A9B3;

section{
  margin-bottom: 6em;
}

#home-presentation {
  background-color: $background-gray-hard;
}


