<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="home blog">

        <div id="page" class="site">

            {% include header.html %}

            <div id="main" class="container">
                {{ content }}
            </div>

            {% include footer.html %}

        </div>

        <script type="text/javascript">

            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = "/js/app.js";
            a.async = true;
            a.type = "text/javascript";
            b.parentNode.insertBefore(a, b)

        </script>
    </body>

</html>
